body {
    color: #404040;
    font-family: "Jost", sans-serif;
}

/* start header */

#switchButton .fa-sun {
    display: none;
}
#switchButton .fa-moon {
    display: block;
    color: white;
}
#switchButton i {
    color: #eee;
    opacity: 0.9;
    font-size: 20px;
}
header {
    height: 100px;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
    display: grid;
    align-items: center;
    transition: all 0.4s ease 0s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar .navbar-brand span.fa {
    color: #009f4d;
}

.navbar .navbar-brand span.logo {
    display: block;
    font-size: 14px;
    padding-left: 45px;
}

.navbar .navbar-brand {
    font-size: 30px;
    font-weight: 600;
}

.btn-material {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #009f4d;
    line-height: 45px;
    text-align: center;
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-material i {
    color: white;
}
.navbar-nav {
    align-items: center;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 15px;
    transition: all 0.5s ease;
    color: #fff;
    opacity: 0.8;
}

.nav-fixed .navbar-expand-lg .navbar-nav .nav-link {
    color: #3f3a64;
    opacity: 0.7;
}

.nav-fixed .navbar-expand-lg .navbar-brand {
    color: #3f3a64;
    font-weight: 600;
}

.header-search .icon-close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 70px;
    transition: all 0.3s ease-in-out;
}

header.nav-fixed {
    background-color: #fff;
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.header-search .icon-close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 70px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

body.search-active .control .btn-material {
    transform: scale(70);
}

body.search-active .control .icon-material-search {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body.search-active .icon-close {
    opacity: 1;
    transform: rotate(-90deg);
}

.search-input {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50px;
    height: 80px;
    margin-top: -40px;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
    z-index: 1;
    /* display: none; */
    /* width: 70%; */
}

.search-input input {
    color: #fff !important;
    font-size: 54px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
    height: 100vh;
    width: 100%;
    display: none;
}

body.search-active .search-input input {
    display: block;
}

::placeholder {
    color: white;
    opacity: 1;
}

body.search-active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

/* end header */
/* start banner */
.banner {
    position: relative;
    height: auto;
}

.carousel-item img {
    height: 800px;
    object-fit: cover;
}

.hero-content {
    position: relative;
}

.carousel-control-next,
.carousel-control-prev {
    font-size: 16px;
    border-radius: 50%;
    color: #3f3a64;
    opacity: 1;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    /* top: 98%; */
    top: auto;
    bottom: 50px;
    right: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    z-index: 2;
}

.carousel-control-prev {
    left: auto;
    right: 95px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    color: inherit;
    opacity: 1;
}

.shape {
    position: absolute;
    /* bottom: -100px; */
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.shape path {
    fill: #fff;
}

.banner .carousel-inner {
    position: relative;
}

.carousel-item .hero-overlay {
    background: rgba(29, 42, 55, 0.7);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .container {
    position: absolute;
    left: 15%;
    top: 25%;
    z-index: 3;
    color: #fff;
    transform: translateX(-30px);
}

.container .hero-content h2 {
    font-size: 65px;
    font-weight: 700;
    max-width: 800px;
}

.container .hero-content p {
    font-size: 20px;
    line-height: 30px;
    opacity: 0.9;
}

.hero-content button.btn-success {
    padding: 10px 50px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer !important;
    z-index: 5;
    margin-top: 20px;
}

/* end banner */
/* start about us */
.about ul {
    list-style: none;
    margin-left: -40px;
}

.about li {
    margin-bottom: 15px;
    list-style-type: none;
}

.about li a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
}

.about li a span.fa {
    color: #009f4d;
    margin-right: 5px;
    opacity: 0.8;
}

.radius-image {
    border-radius: 8px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.about h3 {
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}

.about p {
    color: #666;
    opacity: 0.8;
}

/* start about us */

.title-small {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

.title-big {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

/* start feature */
.feature {
    background-color: #f7f7f7;
}

.text-para {
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: 0.8;
}

.btn-style {
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
}

.call-grids-w3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.box-wrap {
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: #fff;
    transition: 0.3s;
}

.box-wrap:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}

.box-wrap .title-head {
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
    text-decoration: none;
}
.justify-content-center {
    justify-content: center !important;
}
/* end feature */

/* start service */
.service-list li a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    text-decoration: none;
}

.service-row {
    background-color: #ffffff;
}

.card-wrapper {
    overflow: hidden;
    border: none;
    margin: 0;
    cursor: pointer;
}

.card-wrapper:hover .title {
    color: #009f4d;
}

.grids5-info {
    text-align: center;
}

.blog-info {
    padding: 0 20px;
}

.blog-info p.text-para {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: 0.8;
}

.service-picture {
    position: relative;
}

.service-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.service-picture h5.title {
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    text-align: center;
    background: #fff;
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0;
    white-space: nowrap;
    transform: translate(-50%, 50%);
    cursor: pointer;
    transition: 0.5s;
}

.btn:focus {
    box-shadow: 0 0 1px 3px #cbe9d0;
}

.btn-style1 {
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    color: #3f3a64;
    border-radius: 8px;
}

/* end service */
/* start gallery */
.our-gallery {
    background-color: #f8f9fa;
}

.our-gallery .zoom {
    overflow: hidden;
    position: relative;
}

.zoom .flag {
    transition: 0.5s;
}

.zoom:hover .flag {
    transform: scale(1.1);
}

.hover-content .title1 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.hover-content .content-item {
    font-size: 18px;
    color: #eee;
    display: block;
}

.hover-content {
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    visibility: hidden;
    transition: 0.5s;
    padding: 33% 50px 0;
    z-index: 2;
    transition: 0.5s;
}

.hover-overlay {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.card {
    border-radius: 0;
}
.card-item {
    overflow: hidden;
}

.card-item:hover .hover-overlay {
    background-color: rgba(29, 42, 55, 0.7);
}

.card-item:hover .hover-content {
    bottom: 0;
    visibility: visible;
}

.brand-logos {
    border-top: 1px solid #eee;
}

.brand-logos img {
    padding: 0 18px;
}

/* end gallery */

/* start progress */
.radius-image {
    border-radius: 8px;
}

.corp__progress .progress-info {
    margin-bottom: 30px;
    text-align: left;
    position: relative;
}

.corp__progress .progress-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}

.corp__progress .info1 .progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;
}

.corp__progress .info2 .progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;
}

.corp__progress .info3 .progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 60%;
}

.corp__progress .info4 .progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 85%;
}

.corp__progress .progress {
    height: 5px;
    overflow: hidden;
    font-size: 0.75rem;
    border-radius: 0.25rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

.corp__progress .progress-bar-striped {
    background-image: none;
    background-size: cover;
}

.corp__progress .progress-bar.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.corp__progress .progress-bar.gradient-1::after {
    content: "";
    position: absolute;
    right: 18%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.corp__progress .progress-bar.gradient-1::before {
    content: "";
    position: absolute;
    right: 18%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.3;
    transform: translateX(25%);
}

.corp__progress .progress-bar.gradient-2 {
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.corp__progress .progress-bar.gradient-2::after {
    content: "";
    position: absolute;
    right: 3%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.corp__progress .progress-bar.gradient-2::before {
    content: "";
    position: absolute;
    right: 3%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.3;
    transform: translateX(25%);
}
ul.blog-meta {
    margin-top: 10px;
    margin-left: -35px;
}
.date p {
    margin-top: 10px;
}
.corp__progress .progress-bar.gradient-3 {
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.corp__progress .progress-bar.gradient-3::after {
    content: "";
    position: absolute;
    right: 38%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.corp__progress .progress-bar.gradient-3::before {
    content: "";
    position: absolute;
    right: 38%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.3;
    transform: translateX(25%);
}

.corp__progress .progress-bar.progress-bar.gradient-4 {
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.corp__progress .progress-bar.gradient-4::after {
    content: "";
    position: absolute;
    right: 13%;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 3px solid;
}

.corp__progress .progress-bar.gradient-4::before {
    content: "";
    position: absolute;
    right: 13%;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: 0.3;
    transform: translateX(25%);
}

/* end progress */
/* start testimonials */
.corp__testimonials {
    background: #f8f9fa;
}

.testimonial {
    padding: 40px;
    position: relative;
    max-width: 900px;
    margin: auto;
    border: none;
    display: block;
    overflow: hidden;
    text-align: center;
}

.testimonial .testi__text {
    font-size: 20px;
    font-weight: 400px;
    position: relative;
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.testi__info {
    display: grid;
    grid-auto-flow: column;
    text-align: left;
    gap: 20px;
    justify-content: center;
}

.testi__img {
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background: transparent;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #213364;
    transform: scale(1.5);
}

.owl-theme .owl-dots .owl-dot span {
    transition: 0.3s;
}

.owl-theme .owl-dots .owl-dot.active span {
    transform: scale(1.5);
    border: none;
}

/* end testimonials */
/* start blog */
.corp__blog .card {
    border: none;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    border: 1px solid transparent;
    background: none;
    overflow: hidden;
}

.post-thumbnail {
    overflow: hidden;
}

.post-thumbnail img {
    width: 100%;
    height: 100%;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.5s;
}

.corp__blog .card:hover .post-thumbnail img {
    transform: scale(1.1);
    overflow: hidden;
}

.corp__blog .card-header {
    border: none;
}

a {
    font-size: 17px;
    color: #999;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #999;
}

a.blog-desc {
    margin-top: 10px;
    display: block;
    color: #3f3a64;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    transition: 1s;
}

.card-footer {
    background-color: #fff;
}

.card-footer .author {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.blog-meta li {
    list-style: none;
    color: #999;
}

.date p {
    color: #999;
}

.blog-meta li a {
    font-size: 16px;
    color: #3f3f3f;
    line-height: 26px;
    font-weight: 500;
    transition: 1s;
}

.blog-meta li a:hover {
    color: #00a63f;
    background-color: transparent;
}

/* end blog */
/* start project */
.corp__project {
    background-image: url(../img/map.png);
    background-color: #151421;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.bottom-info {
    margin: 0 auto;
    max-width: 700px;
}

.corp__project h3.title-big {
    color: #fff;
}

.header-section p {
    color: #eee;
}

form.subscribe {
    margin-top: 25px;
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    max-width: 550px;
    margin: auto;
}

.subscribe .input-group-text {
    color: #999;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.subscribe input[type="email"] {
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    color: #999;
    background: #fff;
    border: 1px solid #eee;
    outline: none;
    border-left: none;
    border-color: rgba(255, 255, 255, 0.15);
    background-color: rgba(0, 0, 0, 0.2);
}

.subscribe button.btn {
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 25px;
    font-size: 16px;
}

/* end project */
/* start footer */
.corp__footer {
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.corp__footer p {
    font-size: 18px;
    line-height: 30px;
    color: #97a1a9;
    opacity: 0.8;
}

.corp__footer .navbar-brand {
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 1;
    font-size: 30px;
    font-weight: 600;
}

.navbar-brand span.fa {
    color: #00a63f;
    margin-right: 5px;
}

.navbar-brand span.logo {
    display: block;
    font-size: 15px;
    font-weight: 600;
    padding-left: 40px;
}

.corp__footer h6.footer-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400px;
    color: #fff;
    position: relative;
    margin-bottom: 30px;
}

.footer-list ul {
    padding-left: 0;
}

.footer-list ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-list ul li a {
    font-size: 18px;
    line-height: 30px;
    color: #97a1a9;
    opacity: 0.8;
    transition: 0.5s;
}

.footer-list ul li a:hover {
    color: #fff;
    opacity: 1;
}

.footer-list a {
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: 0.8;
    transition: 0.3s;
}

.footer-list a:hover {
    color: #fff;
    opacity: 1;
}

.main-social-footer a {
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    color: #97a1a9;
    opacity: 0.6;
}

.main-social-footer a:hover {
    color: #fff;
    opacity: 1;
}

.corp__copyright {
    padding: 1.5em 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

.corp__copyright .copy-footer a {
    color: #009f4d;
    transition: 0.5s;
}

.corp__copyright .copy-footer a:hover {
    color: #fff;
    opacity: 1;
}

.cd-top {
    color: white;
    background: #009f4d;
    position: fixed;
    font-size: 18px;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    line-height: 36px;
    text-align: center;
    padding: 8px;
    border-radius: 50%;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

/* end footer */
/* start dark theme */

.dark .shape path {
    fill: #151421;
}
.dark .about,
.dark header.nav-fixed {
    background-color: #151421;
}
.dark h3,
.dark .about a {
    color: white;
}
.dark .about p,
.dark .blog-info p.text-para,
.dark .text-para,
.dark .testimonial .testi__text,
.dark .peopl p {
    color: #c2c2c2;
}
.dark .feature,
.dark .our-gallery,
.dark .corp__testimonials {
    background-color: #100f19;
}
.dark .box-wrap,
.dark .corp__progress,
.dark .corp__blog,
.dark .card-footer {
    background-color: #151421;
}
.dark .box-wrap .title-head,
.dark .btn-style1,
.dark .nav-fixed .navbar-expand-lg .navbar-brand,
.dark .nav-fixed .navbar-expand-lg .navbar-nav .nav-link,
.dark a.blog-desc,
.dark .blog-meta li a {
    color: white;
}
.dark .service,
.dark .service-row,
.dark .service-picture {
    background-color: #151421;
}
.dark .grids5-info {
    background-color: #151421;
}
.dark .service-picture h5.title {
    background: #151421;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
.dark .brand-logos {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.dark .corp__progress .progress {
    background-color: black;
}
.dark h6.progress-tittle {
    color: white;
}
.dark .owl-theme .owl-dots .owl-dot span {
    background: #213364;
    opacity: 0.5;
}
.dark .owl-theme .owl-dots .owl-dot.active span {
    opacity: 1;
}
.dark .corp__blog .card {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark .card-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.dark a.carousel-control-next,
.dark a.carousel-control-prev {
    background: #151421;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark #switchButton .fa-sun {
    display: block;
    color: white;
}

.dark #switchButton .fa-moon {
    display: none;
}
/* end dark theme */
/* .btn:hover {
    color: #009f4d;
} */
.card-wrapper:hover .service-picture h5.title {
    color: #009f4d;
    cursor: pointer;
}
a.blog-desc:hover {
    color: #00a63f;
    background-color: transparent;
}
a,
a:hover {
    text-decoration: none;
    color: #404040;
}
header.nav-fixed #switchButton .fa-moon {
    color: #3f3a64;
}
.navbar-dark .navbar-toggler-icon {
    background-image: none;
}
/* responsive */
/* start responsive */

@media (max-width: 1280px) {
    .container .hero-content h2 {
        font-size: 55px;
    }
}
@media (max-width: 992px) {
    .container .hero-content h2 {
        font-size: 50px;
    }
    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border: 0;
    }
    .navbar-toggler-icon.fa {
        font-size: 20px;
        line-height: 1.2em;
        color: #fff;
        line-height: 34px;
    }
    /* .navbar-dark .navbar-toggler-icon {
        background-image: none;
        padding: 0;
        width: 34px;
        height: 34px;
        display: inline-block;
        background: #009f4d;
        border-radius: 4px;
        text-align: center;
        color: white;
        z-index: 5;
    } */
    .header-search {
        position: absolute;
        right: 120px;
        top: 20px;
    }
    header.main-header {
        height: auto;
        padding: 20px 0;
    }
    header.active {
        background: rgba(0, 0, 0, 0.7);
    }
    #switchButton {
        position: absolute;
        right: 75px;
        top: 25px;
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: none;
        padding: 0;
        width: 34px;
        height: 34px;
        display: inline-block;
        background: #009f4d;
        border-radius: 4px;
        text-align: center;
    }
    header.nav-fixed {
        height: auto;
        padding: 15px 0;
        padding: 0px;
        background-color: #fff;

        border-bottom: none;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    }
}
@media (max-width: 768px) {
    .container .hero-content h2 {
        font-size: 45px;
    }
    .container .hero-content p {
        font-size: 18px;
        line-height: 28px;
    }
    .container,
    .container-sm,
    .container-md {
        max-width: 720px;
    }
}

/* end responsive */

/* responsive */
